@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Saira Bold";
  src: url("/fonts/SairaCondensed-Bold.ttf");
}

@font-face {
  font-family: "Barlow Medium";
  src: url("/fonts/Barlow-Medium.ttf");
}
